table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: var(--box-shadow);
  }
  
  th,
  td {
    border: 1px solid var(--table-border);
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: var(--table-header-bg);
    font-weight: bold;
    text-transform: uppercase;
  }
  
  tr:hover {
    background-color: var(--table-row-hover-bg);
  }
  